*{
    box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

/* Estilos para el encabezado (header) */
header {
    background-color: pink; /* Cambia el color de fondo a tu preferencia */
    padding: 15px; /* Ajusta el espaciado interno según sea necesario */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Estilos para el logo */
.logo img {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto; /* Mantiene la proporción original del logo */
}

/* Estilos para la barra de navegación (nav) */
#nav {
    list-style: none;
}

#nav li {
    display: inline;
    margin-right: 20px; /* Ajusta el espaciado entre elementos según sea necesario */
}

#nav a {
    text-decoration: none;
    color: #fff; /* Cambia el color del texto a tu preferencia */
    font-weight: bold;
}

/* Estilos para el menú responsive */
.nav-responsive {
    display: none; /* Oculta el menú responsive por defecto en pantallas grandes */
}
/* Media query para mostrar el menú responsive en pantallas pequeñas */
@media only screen and (max-width: 768px) {
    #nav {
        display: none; /* Oculta la barra de navegación en pantallas pequeñas */
    }
    .nav-responsive {
        display: block; /* Muestra el ícono del menú responsive en pantallas pequeñas */
        cursor: pointer;
    }    
}
.contenedor-header .espacio{/* No es necesario poner el nombre del contenedor header, solo el nombre de la clase*/
    height: 150vh;
    /*background-image: url("Imagenes/fondo2.jpeg");*/
    background-color:thistle;
    background-position: center center;
    background-size: cover;
}
.espacio h1{
    font-family: 'Abril Fatface', serif;
    font-size: 150px;
    text-align: center;
}
.imagenes{
    width: 100%;
    height: 75%;
    display: flex;/*alinear imagenes*/
    justify-content: center;/*centrar*/
    padding: 10px;
}
.grupo{
    width: 350px;
    height: 410px;
    background-image: url("Imagenes/grupo.jpg");
    /*background-size: cover;/*Ajstar imagen al div o contenedor cuando es muy pequeña*/
    background-size: 350px 410px;
    position: relative;/*una imagen encima de otra, es responsive*/
    left: 8%;/*posicionar algo de izquierda a derecha*/
    top: 18%;/*posicion de abajo hacia arriba de imagenes*/
}
.notita{
    width: 350px;
    height: 433px;
    background-image: url("Imagenes/notarosa.jpg");
    background-size: 350px 433px;/*tamaño a la imagen*/
    border-radius: 20px; /*hacer redondo los filos de las imagenes*/
    padding: 50px;
}
.notita .texto2{
    margin-left: 70px;
}

footer{
    background-color: pink;
    text-align: center;
    padding: 25px;
}


